In [28]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [29]:
print("hello bootcamp")

hello bootcamp

In [30]:
ist = [1,2,3,4,5,6,7,8,9]
ist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
%timeit [i ** 2 for i in ist]

2.64 µs ± 70.9 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [33]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [34]:
import numpy as np

In [35]:
arr = np.array(ist)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [36]:
%timeit arr ** 2

743 ns ± 233 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [39]:
arr1 = np.random.randint(10,100,size = (5,6))

In [40]:
arr1

array([[99, 99, 78, 14, 62, 15],
       [67, 96, 46, 26, 37, 25],
       [67, 74, 85, 15, 43, 70],
       [38, 74, 22, 25, 61, 42],
       [72, 73, 49, 49, 92, 74]])

In [41]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [43]:
import pandas as pd
df = pd.DataFrame(data = arr1)

In [44]:
df

    0   1   2   3   4   5
0  99  99  78  14  62  15
1  67  96  46  26  37  25
2  67  74  85  15  43  70
3  38  74  22  25  61  42
4  72  73  49  49  92  74